  @charset "UTF-8";

  body{

    background-color: black;
    background-image: url(imagens/wallpaper.jpg);
    background-position: center center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-attachment: fixed;
    
  
  }
  
  div.Logo{

    
    display: flex;
    justify-content: center ;
    
    
  }

  nav{

    background-color: rgba(0, 0, 0, 0.144);
    text-align: center;
    max-width: 100vw;
    
    border-radius: 10px;
    
    
    
    
    
  }

  nav ul {


    display: inline-flex;
    list-style: none;
    
    

  } 
  nav ul li{

    width: 125px;
    margin-right: 60px;
    font-weight: bolder;
    padding: 7px;

  }
  nav ul li a {

    text-decoration: none;
    color: white;
    
    
  }
  
  
.sub-menu1{

  display: none;
  font-size: 1em;
}
nav ul li:hover .sub-menu1{
    
  display: block;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.616);
  margin-top: 15px;
  z-index: 9999;
  border-radius: 10px;
  border: 1px solid white;

  
 
}
nav ul li:hover .sub-menu1 ul{

    display: block;
    
}

nav ul li:hover .sub-menu1 ul li{

      width: 150px;
      text-align: center;
      border-radius: 10px;
      transition: 0.5s;
      border: 1px solid white;


}

nav ul li:hover .sub-menu1 ul li:hover{

    background-color:  rgba(0, 0, 0, 0.856);
}

main{


    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    background-color: rgba(255, 255, 255, 0);
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 150px;
    border-radius: 10px;
    
  

  
}

main >h1 {

  text-align: center;
  font-weight: bolder;
  color: white;
}

.ImagemNika{


  background-color:white;
  color: black;
  border-radius: 5px;
  width: 250px;
  height: 260px;
  font-weight: bolder;
  text-align: center;
  position: relative;
  transition: all.5s;
  cursor: pointer;
 
 

  

}

.ImagemNika:hover{

  border: 5px solid black;
  border-radius: 0%;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  -webkit-transform: scale(1.0);
  transform: scale(1.0);

  
}


.ImagemIlha{

  background-color:white;
  color: black;
  border-radius: 5px;
  width: 250px;
  height: 260px;
  margin: 0 auto;
  font-weight: bolder;
  text-align: center;
  position: relative;
  transition: all.5s;
  cursor: pointer;
  bottom: 275px;
  
 
  
}

.ImagemIlha:hover{

  border: 5px solid black;
  border-radius: 0%;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
}

.ImagemAsasDoRei{

  background-color:white;
  color: black;
  border-radius: 5px;
  width: 250px;
  height: 260px;
  margin: 0 auto;
  font-weight: bolder;
  text-align: center;
  position: relative;
  transition: all.5s;
  cursor: pointer;
  left: 375px;
  bottom: 550px;
  
  

}

.ImagemAsasDoRei:hover{

  border: 5px solid black;
  border-radius: 0%;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  -webkit-transform: scale(1.0);
  transform: scale(1.0);


}
.ImagemLuffyxLucci{

  background-color:white;
  color: black;
  border-radius: 5px;
  width: 250px;
  height: 260px;
  margin: 0 auto;
  font-weight: bolder;
  text-align: center;
  position: relative;
  transition: all.5s;
  cursor: pointer;
  right: 375px;
  bottom: 540px;
 

}

.ImagemLuffyxLucci:hover{

  border: 5px solid black;
  border-radius: 0%;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  -webkit-transform: scale(1.0);
  transform: scale(1.0);

}

.ImagemVegapunk{

  background-color:white;
  color: black;
  border-radius: 5px;
  width: 250px;
  height: 260px;
  margin: 0 auto;
  font-weight: bolder;
  text-align: center;
  position: relative;
  transition: all.5s;
  cursor: pointer;
  left: 0px;
  bottom: 816px;
  
  

}

.ImagemVegapunk:hover{


  border: 5px solid black;
  border-radius: 0%;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  -webkit-transform: scale(1.0);
  transform: scale(1.0);

}

.ImagemLawXBuchaNegra{

  background-color:white;
  color: black;
  border-radius: 5px;
  width: 250px;
  height: 260px;
  margin: 0 auto;
  font-weight: bolder;
  text-align: center;
  position: relative;
  transition: all.5s;
  cursor: pointer;
  left: 375px;
  bottom: 1090px;
  
 

}
.ImagemLawXBuchaNegra:hover{

  border: 5px solid black;
  border-radius: 0%;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  -webkit-transform: scale(1.0);
  transform: scale(1.0);


}

footer{

    background-color: rgba(0, 0, 0, 0.315);
    color:white;
    padding: 5px;
    text-align:center;
    text-decoration: none;
    height: 100px;
    border-radius: 10px;
   
    
    
}
footer  a{

  color:white;
  text-decoration: none;
  
  }
  
  footer a:hover{
  
      text-decoration: underline;
  }







  
 
